<!DOCTYPE html>

{% load static %} <!-- New line -->

<html>

    <head>
        <title>Rango</title>
    </head>

    <body>
        <h1>Rango says...</h1>
        hello world! <strong>{{ boldmessage }}</strong><br />
      
    {% if categories %}
    <ul> {% for c in categories %}
    	<li>
    		{{c.name}}
    	</li>
    	{%endfor%}
    	
    </ul>

    {%else %}
		Kategoriler sıkıntılı !!
    {%endif%}

    {% if pages %}
    <ul>
        {% for p in pages%}
         <li>
            {{p.title}}
        </li>
        {%endfor%}
    </ul>
    {%endif%}
   
   

   {% if user.is_authenticated %}
        <a href="/myrango/add_category/">Add a New Category</a>
        <a href="/myrango/restricted/">Restricted Page</a><br />
        <a href="/myrango/log_out/">Logout</a><br />
        {% else %}
        <a href="/myrango/register/">Register Here</a><br />
        <a href="/myrango/login/">Login</a><br />
    {% endif %}

      <a href="/rango/test/">Test</a><br />
        <img src="{% static "rango.jpg" %}" alt="Picture of Rango" /> <!-- New line -->

    </body>

</html>