{% extends "myrango/base.html"%}

{%block title%}Rango{%endblock%}

 {% block body_block %}
<h1>Login to Rango</h1>

        <form id="login_form" method="post" action="/myrango/login/">

            {% csrf_token %}
            Please enter username : <input name="username" type="text" value="" size="50"/></br>
             Please enter password :<input name="password" type="password" value="" size="50"/></br>



            <input type="submit" name="submit" value="Login" />
        </form>

 {%endblock%}


